# macOS system
.DS_Store
.Spotlight-V100
.Trashes
*.swp

# Test / Profiling artifacts
.out

# Build folders
_obj
_test
/bin
/src

# Vendoring
vendor/**

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof

# IntelliJ
*.iml
*.ipr
*.iws

# Generic
assets/